{% extends 'root.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if message %}
<ul class="border bg-gray-200 font-bold p-3">
  {% for message in messages %}
  <li class="text-gray-600">{{message}}</li>
  {% endfor %}
</ul>
{% endif %}
<section class="w-1/2 p-8 bg-gray-200 m-4 shadow-md">
  <h3 class="font-bold mb-3 text-gray-600 text-2xl">Create Post</h3>
  <form method="POST" class="space-y-3">
  {% csrf_token %}
  {{ post_form|crispy }}
  <button class="btn btn-primary" type="submit">Create</button>
  </form>
</section>
{% endblock content %}