{% extends 'root.html' %} 
{% load crispy_forms_tags %}
{% block content %}
{% if message %}
<ul class="border bg-gray-200 font-bold p-3">
  {% for message in messages %}
  <li class="text-gray-600">{{message}}</li>
  {% endfor %}
</ul>
{% endif %}
<section class="w-1/2 p-8 bg-gray-200 m-4 shadow-md">
  <h3 class="font-bold mb-3 text-gray-600 text-2xl">Sign up</h3>
  <form method="POST" class="space-y-3">
    {% csrf_token %} {{ register_form|crispy }}
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  <p class="mt-2">
    If you already have an account,
    <a href="{% url 'user:login' %}" class="hover:text-blue-600 font-semibold text-blue-400">Login</a> instead.
  </p>
</section>
{% endblock content %}
